@charset "UTF-8";
/* scssファイルインポート */
/* ---------------------------------------------------------------------------- */
/* foundation
/* ---------------------------------------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------------------------------------------------------- */
/* layout
/* ---------------------------------------------------------------------------- */
/*           グリッドレイアウト        */
/*----------------------------------*/
body {
  display: -ms-grid;
  display: grid;
  margin: 0;
  min-height: 100vh;
  color: #707070;
  -ms-grid-rows: 217px 1fr 150px;
      grid-template-rows: 217px 1fr 150px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header  nav " "main  nav" "footer  footer";
}

@media (min-width: 1025px) {
  body {
    -ms-grid-columns: 1fr 20%;
        grid-template-columns: 1fr 20%;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: #FFF7EF;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background: #fff;
}

@media (min-width: 1025px) {
  nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: nav;
    background: #F2EDE9;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

/* ---------------------------------------------------------------------------- */
/* object -> component
/* ---------------------------------------------------------------------------- */
.sample2Text {
  width: 210px;
  /* inputの幅           */
  background-image: url(/img/megane.png);
  /* 背景画像：虫眼鏡(*1)*/
  background-repeat: no-repeat;
  /* 背景は繰り返さない  */
  background-position: 8px center;
  /* 背景の位置          */
  background-size: auto 60%;
  /* 背景のサイズ        */
  background-color: #fff;
  /* 背景色              */
  margin: 0 auto;
  /* サンプルは中央寄せ  */
  padding-left: 30px;
  /* 虫眼鏡分の左余白    */
  border: 1px solid #666;
  /* 枠線　幅,実践,色    */
  border-radius: 6px;
  /* 角丸                */
  color: #555;
  /* 文字色              */
  font-size: 18px;
  /* フォントサイズ      */
  letter-spacing: 0.1em;
  /* 文字間隔            */
  font-weight: bold;
  /* 太字                */
  outline: 0;
  /* 入力薄枠を非表示    */
}

.sample2Text:focus {
  background-color: #cfe7ff;
  /* フォーカス時背景色  */
}

.sample2Text::-ms-clear {
  display: none;
  /* ×を消す            */
}

@media (min-width: 1025px) {
  #nav-drawer {
    display: none;
  }
}

#nav-drawer {
  position: absolute;
  top: 15px;
  right: 40px;
}

@media (max-width: 576px) {
  #nav-drawer {
    top: 10px;
    right: 15px;
  }
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 88px;
  height: 45px;
  font-size: 34px;
  font-weight: bold;
  vertical-align: middle;
}

@media (max-width: 576px) {
  #nav-open {
    font-size: 26px;
  }
}

/*ハンバーガーアイコンをCSSだけで表現*/
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  background-color: #F2EDE9;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(105%);
  /*右に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

/* ---------------------------------------------------------------------------- */
/* object -> project
/* ---------------------------------------------------------------------------- */
.header__balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1025px) {
  .header__balance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__balance__name {
  font-size: 30px;
}

@media (max-width: 1025px) {
  .header__balance__name {
    padding-top: 40px;
  }
  .header__balance__name h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .header__balance__name {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 415px) {
  .header__balance__name {
    padding-top: 55px;
  }
}

.header__balance__search {
  width: 100%;
  text-align: center;
}

@media (max-width: 1025px) {
  .header__balance__search {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .header__balance__search {
    margin: 0 40px 0 40px;
    width: 546px;
  }
}

.header__balance__search__box {
  width: 300px;
  height: 46px;
}

@media (min-width: 768px) {
  .header__balance__search__box {
    width: 396px;
  }
}

@media (max-width: 415px) {
  .header__balance__search__box {
    width: 200px;
    height: 35px;
  }
}

.header__balance__search__button {
  width: 100px;
  height: 46px;
  background-color: #F2EDE9;
  color: #707070;
  border: 1px solid;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .header__balance__search__button {
    width: 136px;
  }
}

@media (max-width: 415px) {
  .header__balance__search__button {
    width: 80px;
    height: 36px;
  }
}

.menu__banner-img {
  background-image: url(/img/banner.png);
  background-size: cover;
  background-position: center;
  height: 285px;
}

@media (min-width: 1025px) {
  .menu__banner-img {
    height: 530px;
  }
}

.menu__banner-img h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #ffffff;
  font-size: 2.8rem;
  padding-left: 80px;
}

@media (max-width: 576px) {
  .menu__banner-img h2 {
    font-size: 2.5rem;
    padding-left: 40px;
  }
}

.menu__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .menu__select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__select h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #ffffff;
  font-size: 3.5rem;
  padding: 30px 0 0 30px;
}

@media (min-width: 1025px) {
  .menu__select h3 {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .menu__select h3 {
    font-size: 3rem;
  }
}

.menu__select span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #ffffff;
  font-size: 5rem;
  margin-top: -30px;
  padding-left: 30px;
}

@media (max-width: 576px) {
  .menu__select span {
    display: none;
  }
}

.menu__select__b-img1 {
  margin: 30px 30px 30px 30px;
  position: relative;
  background-image: url(/img/ham1.png);
  background-size: cover;
  min-height: 643px;
}

@media (min-width: 1025px) {
  .menu__select__b-img1 {
    margin: 130px 40px 130px 80px;
  }
}

@media (min-width: 768px) {
  .menu__select__b-img1 {
    margin: 50px 50px 50px 25px;
    height: 1193px;
    width: 100%;
  }
}

.menu__select__b-img1__box {
  position: absolute;
  bottom: 0;
}

.menu__select__b-img1__box__detail {
  min-height: 174px;
  margin: 0 30px 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 576px) {
  .menu__select__b-img1__box__detail {
    margin: 0 10px 20px 10px;
  }
}

.menu__select__b-img1__box__detail h4 {
  font-size: 1.5rem;
  padding: 20px;
}

@media (max-width: 576px) {
  .menu__select__b-img1__box__detail h4 {
    padding: 10px 10px 2px 10px;
  }
}

.menu__select__b-img1__box__detail p {
  font-size: 1rem;
  padding: 10px 20px 30px 20px;
}

@media (max-width: 576px) {
  .menu__select__b-img1__box__detail p {
    padding: 0 10px 10px 10px;
  }
}

.menu__select__b-img2 {
  margin: 30px 30px 30px 30px;
  position: relative;
  background-image: url(/img/ham2.png);
  background-size: cover;
  min-height: 643px;
}

@media (min-width: 1025px) {
  .menu__select__b-img2 {
    margin: 130px 80px 130px 40px;
  }
}

@media (min-width: 768px) {
  .menu__select__b-img2 {
    margin: 50px 50px 50px 25px;
    height: 1193px;
    width: 100%;
  }
}

.menu__select__b-img2__box {
  position: absolute;
  bottom: 0;
}

.menu__select__b-img2__box__detail {
  min-height: 174px;
  margin: 0 30px 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 576px) {
  .menu__select__b-img2__box__detail {
    margin: 0 10px 20px 10px;
  }
}

.menu__select__b-img2__box__detail h4 {
  font-size: 1.5rem;
  padding: 20px;
}

@media (max-width: 576px) {
  .menu__select__b-img2__box__detail h4 {
    padding: 10px 10px 2px 10px;
  }
}

.menu__select__b-img2__box__detail p {
  font-size: 1rem;
  padding: 10px 20px 30px 20px;
}

@media (max-width: 576px) {
  .menu__select__b-img2__box__detail p {
    padding: 0 10px 10px 10px;
  }
}

.googlemap {
  position: relative;
}

.googlemap__store {
  background-image: url(/img/map.png);
  background-size: cover;
  height: 691px;
}

@media (min-width: 576px) {
  .googlemap__store {
    height: 649px;
  }
}

.googlemap__store__box {
  position: relative;
  width: 950px;
  color: #ffffff;
  height: 100%;
}

@media (max-width: 1025px) {
  .googlemap__store__box {
    width: 100%;
  }
}

.googlemap__store__box h4 {
  position: absolute;
  font-size: 2.25rem;
  padding: 60px 0 0 50px;
  z-index: 100;
}

@media (min-width: 576px) {
  .googlemap__store__box h4 {
    padding: 80px 0 0 100px;
  }
}

.googlemap__store__box span {
  position: absolute;
  font-size: 5rem;
  top: 50px;
  left: 50px;
  z-index: 100;
}

@media (min-width: 576px) {
  .googlemap__store__box span {
    top: 100px;
    left: 100px;
  }
}

.googlemap__store__box p {
  position: absolute;
  font-size: 0.9rem;
  width: 400px;
  letter-spacing: 2px;
  z-index: 100;
}

@media (max-width: 576px) {
  .googlemap__store__box p {
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

@media (min-width: 576px) {
  .googlemap__store__box p {
    top: 270px;
    font-size: 1rem;
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

@media (min-width: 768px) {
  .googlemap__store__box p {
    padding: 0 100px 0 100px;
  }
}

@media (max-width: 415px) {
  .googlemap__store__box p {
    width: 300px;
    top: 60%;
    left: 52.5%;
  }
}

.googlemap__store__box:after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 576px) {
  .googlemap__store__box:after {
    height: 450px;
  }
}

.googlemap__store:after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.side {
  background-color: #F2EDE9;
}

@media (max-width: 1025px) {
  .side {
    display: none;
  }
}

@media (min-width: 1025px) {
  .side__menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
    margin: 0 0 0 40px;
    font-size: 2.125rem;
  }
  .side__menu__sub {
    margin: 0 0 30px 40px;
    font-size: 1.5rem;
  }
  .side__menu__list {
    margin: 0 0 50px 60px;
    font-size: 1.25rem;
  }
  .side__menu__list__s-menu li {
    margin: 0 0 20px 0px;
  }
}

.sideNav {
  background-color: #F2EDE9;
}

@media (max-width: 1025px) {
  .sideNav__menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
    margin: 0 0 0 40px;
    font-size: 2.125rem;
  }
  .sideNav__menu__sub {
    margin: 0 0 30px 40px;
    font-size: 1.5rem;
  }
  .sideNav__menu__list {
    margin: 0 0 50px 60px;
    font-size: 1.25rem;
  }
  .sideNav__menu__list__s-menu li {
    margin: 0 0 20px 0px;
  }
  .sideNav__menu__cancel {
    text-align: right;
    margin: 25px 20px 150px 0;
  }
  .sideNav__menu__cancel label {
    font-size: 2.3rem !important;
  }
}

.foot {
  color: white;
  background-image: url(/img/brown.png);
  background-size: cover;
  height: 100%;
  width: auto;
}

.foot__info {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 30px 0;
}

.foot__info-sub {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archive {
  position: relative;
}

.archive__banner-img {
  background-image: url(/img/archive-top.png);
  background-size: cover;
  background-position: center;
  height: 285px;
}

@media (min-width: 1025px) {
  .archive__banner-img {
    height: 239px;
  }
}

.archive__banner-img__font h2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #ffffff;
  font-size: 2.8rem;
  padding-left: 80px;
  z-index: 110;
}

@media (max-width: 576px) {
  .archive__banner-img__font h2 {
    font-size: 2.25rem;
    padding: 0 0 30px 40px;
  }
}

.archive__banner-img__font h3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 8px 0 0 240px;
  z-index: 110;
}

@media (max-width: 576px) {
  .archive__banner-img__font h3 {
    font-size: 1rem;
    padding: 50px 0 0 40px;
  }
}

.archive__banner-img:after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.55);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.mainTable__sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainTable__sentence__detail {
  margin: 50px 0px 50px 0px;
  max-width: 1353px;
}

.mainTable__sentence__detail h3 {
  margin-bottom: 30px;
  font-size: 2.25rem;
}

@media (max-width: 576px) {
  .mainTable__sentence__detail h3 {
    font-size: 1.75rem;
  }
}

.mainTable__sentence__detail p {
  font-size: 1rem;
}

.mainTable__cbBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.mainTable__cbBox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1353px;
}

@media (max-width: 768px) {
  .mainTable__cbBox__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainTable__cbBox__container__left {
  background-image: url(/img/cbBox.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 677px;
  height: 471px;
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__left {
    max-width: 336.11px;
    height: 230.53px;
  }
}

.mainTable__cbBox__container__right {
  width: 100%;
  max-width: 676px;
  height: 471px;
  background-color: #3C2B1C;
  color: #fff;
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right {
    max-width: 336.11px;
    height: 355px;
  }
}

.mainTable__cbBox__container__right h3 {
  margin: 40px 40px 0 40px;
  font-size: 1.5rem;
}

@media (min-width: 1025px) {
  .mainTable__cbBox__container__right h3 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1452px) {
  .mainTable__cbBox__container__right h3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right h3 {
    font-size: 1.3rem;
    margin: 30px 20px 0 20px;
  }
}

.mainTable__cbBox__container__right h4 {
  margin: 40px 40px 0 40px;
  font-size: 1.25rem;
}

@media (min-width: 1025px) {
  .mainTable__cbBox__container__right h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right h4 {
    font-size: 1rem;
    margin: 20px 20px 0 20px;
  }
}

.mainTable__cbBox__container__right p {
  margin: 10px 40px 0 40px;
  font-size: 1rem;
  max-width: 509px;
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right p {
    font-size: 1rem;
  }
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right p {
    font-size: 1rem;
    margin: 20px 20px 0 20px;
  }
}

.mainTable__cbBox__container__right__button {
  text-align: center;
  margin-top: 70px;
}

.mainTable__cbBox__container__right__button button {
  width: 200px;
  height: 55px;
  border-radius: 40px 40px 40px 40px;
}

@media (min-width: 1025px) {
  .mainTable__cbBox__container__right__button button {
    width: 292px;
    height: 76px;
  }
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right__button button {
    width: 163px;
    height: 42px;
  }
}

.mainTable__cbBox__container__right__button__special-margin {
  margin-top: 30px;
}

@media (min-width: 881px) {
  .mainTable__cbBox__container__right__button__special-margin {
    margin-top: 70px;
  }
}

@media (max-width: 415px) {
  .mainTable__cbBox__container__right__button__special-margin-s {
    margin-top: 30px;
  }
}

.pagenate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 70px 70px 70px;
}

.ar-margin {
  margin: 0 20px 0 20px;
}

@media (min-width: 768px) {
  .ar-margin {
    margin: 0 50px 0 50px;
  }
}

.sigle-position {
  margin: 0 60px 0 60px;
}

@media (max-width: 576px) {
  .sigle-position {
    margin: 0 20px 0 20px;
  }
}

.single__banner-img {
  background-image: url(/img/cheese.png);
  background-size: cover;
  background-position: center;
  height: 500px;
}

@media (min-width: 1025px) {
  .single__banner-img {
    height: 530px;
  }
}

@media (max-width: 576px) {
  .single__banner-img {
    width: 100%;
    height: 225px;
  }
}

.single__banner-img h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #ffffff;
  font-size: 2.8rem;
  padding-left: 60px;
}

@media (max-width: 576px) {
  .single__banner-img h2 {
    font-size: 2rem;
    padding-left: 40px;
  }
}

.single__banner-img2 {
  background-image: url(/img/city.png);
  background-size: cover;
  background-position: center;
}

.contents__title__name {
  margin: 50px 0 50px 0;
}

.note__box {
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}

.note__box__detail {
  padding: 35px;
}

.images__top {
  background-image: url(/img/sandBig.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 264px;
  margin: 40px 0 0 0;
}

@media (min-width: 1025px) {
  .images__top {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .images__top {
    height: 124px;
  }
}

.images__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 300px 0;
  height: 400px;
}

@media (min-width: 1025px) {
  .images__intro {
    height: 100%;
  }
}

@media (min-width: 881px) {
  .images__intro {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 576px) {
  .images__intro {
    height: 170px;
    overflow: hidden;
    margin: 40px 0 40px 0;
  }
}

.images__intro__pic {
  background-image: url(/img/sandMiddle.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 306px;
  height: 189px;
}

@media (min-width: 1025px) {
  .images__intro__pic {
    width: 100%;
    max-width: 581px;
    height: 358px;
  }
}

@media (max-width: 576px) {
  .images__intro__pic {
    height: 130px;
  }
}

.images__intro__box {
  width: 100%;
  height: 373px;
}

@media (min-width: 1025px) {
  .images__intro__box {
    width: 100%;
    max-width: 800px;
    height: 191px;
  }
}

.images__intro__box__up {
  margin-left: 20px;
}

@media (min-width: 1025px) {
  .images__intro__box__up {
    margin-left: 40px;
  }
}

.images__intro__box__down {
  margin: 0 20px 40px 0;
}

@media (min-width: 1025px) {
  .images__intro__box__down {
    margin-right: 40px;
  }
}

.images__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 200px 0;
}

@media (min-width: 1025px) {
  .images__middle {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 576px) {
  .images__middle {
    margin: 40px 0 -150px 0;
  }
}

.images__middle__center {
  background-image: url(/img/sandMiddle.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 581px;
  height: 358px;
}

@media (max-width: 576px) {
  .images__middle__center {
    max-width: 260px;
    height: 166px;
  }
}

.images__table {
  margin: 40px 0 0 0;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (max-width: 768px) {
  .images__table {
    margin: 200px 0 0 0;
  }
}

@media (min-width: 768px) {
  .images__table {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .images__table {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .images__table {
    width: 100%;
    max-width: 335px;
  }
}

.listMix {
  margin: 40px 0 0 40px;
}

.margin-z {
  margin: 20px;
}

.basicModel {
  background-color: #F5F5F5;
  margin: 50px 0 0 0;
  padding: 30px;
}

@media (max-width: 576px) {
  .basicModel {
    width: 100%;
    max-width: 335px;
  }
}

.basicModel li {
  list-style: none;
}

.tables {
  margin: 50px 0 0 0;
}

@media (max-width: 576px) {
  .tables {
    width: 100%;
    max-width: 335px;
  }
}

.tables__box {
  border-collapse: collapse;
  width: 100%;
}

.tables__box__tr td {
  padding: 0 0 0 20px;
  height: 77px;
}

.tables__box__tr__tdLeft {
  width: 32%;
}

.buttons {
  margin: 50px 0 0 0;
}

.buttons__btn {
  width: 429px;
  height: 104px;
  border-radius: 20px;
  border: 1px solid;
}

@media (max-width: 576px) {
  .buttons__btn {
    width: 100%;
    max-width: 335px;
  }
}

.buttons__h5 {
  margin: 50px 0 200px 0;
}

.adminTest__field h2 {
  color: blue;
}

.adminTest__field p {
  color: blue;
}

/* ---------------------------------------------------------------------------- */
/* utility
/* ---------------------------------------------------------------------------- */
.fontSearch h3 {
  padding: 8px 0 0 280px;
}

@media (max-width: 576px) {
  .fontSearch h3 {
    font-size: 1rem;
    padding: 50px 0 0 40px;
  }
}
/*# sourceMappingURL=style.css.map */