.foot {
    color: white;
    background-image: url(/img/brown.png);
    background-size: cover;
    height: 100%;
    width: auto;
    &__info {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0 30px 0;
    }
    &__info-sub {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}