.header__balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include breakPointS($pc) {
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-size: 30px;
        @include breakPointS($pc) {
            padding-top: 40px;
            h1 {
                font-size: 2.5rem;
            }
        }
        @include breakPoint($tab) {
            margin: 0 0 0 40px;
        }
        @include breakPointS($mini) {
            padding-top: 55px;
        }
    }
    &__search {
        width: 100%;
        text-align: center;
        @include breakPointS($pc) {
            padding-bottom: 40px;
        }
        @include breakPoint($tab) {
            margin: 0 40px 0 40px;
            width: 546px;
        }
        &__box {
            width: 300px;
            height: 46px;
            @include breakPoint($tab) {
                width: 396px;
            }
            @include breakPointS($mini) {
                width: 200px;
                height: 35px;
            }
        }
        &__button {
            width: 100px;
            height: 46px;
            background-color: #F2EDE9;
            color: #707070;
            border: 1px solid;
            -webkit-border-radius: 8px; // for Safari and Chrome
            -moz-border-radius: 8px; // for Firefox
            -o-border-radius: 8px; // for opera
            border-radius: 8px;
            @include breakPoint($tab) {
                width: 136px;
            }
            @include breakPointS($mini) {
                width: 80px;
                height: 36px;
            }
        }
    }
}